.closeButton {
    text-align: right;
}

.box {
    background-color: rgb(121, 134, 203);
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 6px;
    border-radius: 4px;
}

.item {
    overflow: auto;
}

.date {
    color: rgba(232, 230, 227, 0.54);
}